In [4]:
import pandas as pd

df = pd.read_csv('EstimatedFinishQuarter.csv')
print(df)

     PropertyID  VendorID                                            Address  \
0    1652916003         2                  5640 Eden Rd  Kennedale, TX 76060
1    1652901399         2           1801 N Masch Branch Rd  Denton, TX 76207
2    1652907044         2             765 E GA 16 Highway   Newnan, GA 30263
3    1652887791         2              121 Technology Park   Allen, TX 75013
4    1652900810         2              2733 Basswood Blvd  Saginaw, TX 76131
..          ...       ...                                                ...
216  1652897664         2                          ICC-35   Denton, TX 76207
217  1652887966         2                   1400 Senoia Rd  Tyrone, GA 30290
218  1652915198         2       TX SH 180 & Boswell Dr  Fort Worth, TX 76112
219  1652926524         2  SEC Loop of 820 & N Beach   Haltom City, TX 76137
220  1652864940         2                     HWY 287   Waxahachie, TX 75165

     Size_sf  Available_sf  QuartersTrackedInDatabase  \
0      10000             0                          1
1      43680         43680                          5
2     271111        271111                          2
3     134850        134850                          2
4     130750        130750                          4
..       ...           ...                        ...
216   366926        366926                          6
217    30000         30000                          1
218   202242        202242                          3
219   136473        136473                          1
220  1058635        372321                          2

     EstimatedCompletionYearQuarter  YearQuarterGroundBroken  \
0                            2024.3                   2024.1
1                            2024.2                   2023.2
2                            2024.3                   2023.3
3                            2024.4                   2023.4
4                            2024.2                   2023.2
..                              ...                      ...
216                          2024.3                   2023.2
217                          2025.1                   2024.1
218                          2024.3                   2023.3
219                          2025.1                   2024.1
220                          2025.1                   2024.1

    BuildingStatusCode SubPropertyType  \
0                   UC               W
1                   UC               W
2                   UC               W
3                   UC               W
4                   UC               W
..                 ...             ...
216                 UC               W
217                 UC               W
218                 UC               W
219                 UC               W
220                 UC               W

                                          buildingName  \
0
1                                           BUILDING 3
2    --streetnum is: 765-775 to   | building name i...
3    --streetnum is:   to   | building name is BUIL...
4                                           BUILDING 3
..                                                 ...
216  --streetnum is:   to   | building name is BUIL...
217                           74 S BUSINESS PARK - 200
218        --streetnum is:   to   | building name is C
219  --streetnum is:   to   | building name is MERC...
220      --streetnum is: TBD to   | building name is

                           complex   Latitude  Longitude  CeilingHeight  \
0                                   32.632815 -97.198121              0
1               M380 BUSINESS PARK  33.234917 -97.197974              0
2                                   33.332142 -84.756489             32
3              121 TECHNOLOGY PARK  33.147200 -96.667579             32
4      BASSWOOD 35 INDUSTRIAL PARK  32.876798 -97.321318             32
..                             ...        ...        ...            ...
216                         ICC-35  33.258326 -97.181522             36
217                                 33.493502 -84.580774             24
218                                 32.732602 -97.194906             36
219  MERCANTILE 820 LOGISTICS PARK  32.835954 -97.288053             32
220                                 32.415644 -96.831482             40

    MarketCode  CompletionYearQuarter
0       FORTWO                    NaN
1       DALLAS                 2023.4
2       ATLANT                 2023.4
3       DALLAS                    NaN
4       FORTWO                 2023.4
..         ...                    ...
216     DALLAS                 2024.1
217     ATLANT                    NaN
218     FORTWO                    NaN
219     FORTWO                    NaN
220     DALLAS                    NaN

[221 rows x 17 columns]

In [11]:
market_code = 'ATLANT'
market_name = 'Atlanta'
market_df = df[df['MarketCode'] == market_code]
stock_sf = 0
aggregate = {
    'MarketCode': [],
    'MarketName': [],
    'YearQuarter': [],
    'Stock_sf': [],
    'Completions_sf': [],
    'Stock_under_construction_sf': [],
    'under_construction_as_a_percentage_of_stock': []
}
aggregate_df = pd.DataFrame(aggregate)
df['CompletionYearQuarter'] = df['CompletionYearQuarter'].astype(float)
df['YearQuarterGroundBroken'] = df['YearQuarterGroundBroken'].astype(float)

In [16]:
for i in range(2024, 2026):
    for j in range(1, 5):
        current_quarter = i + (j/10)
        current_quarter_df = df[df['CompletionYearQuarter'] == current_quarter]
        completions_sf = current_quarter_df['Available_sf'].sum()
        stock_sf += completions_sf
        under_construction_df = df[(df['YearQuarterGroundBroken'] <= current_quarter) & (df['CompletionYearQuarter']) > current_quarter]
        stock_under_construction_sf = under_construction_df['Available_sf'].sum()
        construction_sf_percentage = stock_under_construction_sf/stock_sf
        new_row = {
            'MarketCode': market_code,
            'MarketName': market_name,
            'YearQuarter': current_quarter,
            'Stock_sf': stock_sf,
            'Completions_sf': completions_sf,
            'Stock_under_construction_sf': stock_under_construction_sf,
            'under_construction_as_a_percentage_of_stock': construction_sf_percentage
        }
        new_row_df = pd.DataFrame([new_row])
        aggregate_df = pd.concat([aggregate_df, new_row_df])

display(aggregate_df)

,MarketCode,MarketName,YearQuarter,Stock_sf,Completions_sf,Stock_under_construction_sf,under_construction_as_a_percentage_of_stock
0,ATLANT,Atlanta,2024.1,20352992.0,5088248.0,0.0,0.0
0,ATLANT,Atlanta,2024.2,21802850.0,1449858.0,0.0,0.0
0,ATLANT,Atlanta,2024.3,23684880.0,1882030.0,0.0,0.0
0,ATLANT,Atlanta,2024.4,23684880.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.1,24904706.0,1219826.0,0.0,0.0
0,ATLANT,Atlanta,2025.2,24904706.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.3,24904706.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.4,24904706.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2024.1,29992954.0,5088248.0,0.0,0.0
0,ATLANT,Atlanta,2024.2,31442812.0,1449858.0,0.0,0.0
0,ATLANT,Atlanta,2024.3,33324842.0,1882030.0,0.0,0.0
0,ATLANT,Atlanta,2024.4,33324842.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.1,34544668.0,1219826.0,0.0,0.0
0,ATLANT,Atlanta,2025.2,34544668.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.3,34544668.0,0.0,0.0,0.0
0,ATLANT,Atlanta,2025.4,34544668.0,0.0,0.0,0.0